<!DOCTYPE html>
<html>
  <head>
    <title>REMS Login</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="CSS/index.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <div class="header"><label>RJL1 REMS</label></div>
    <div class="jumbotron">
      <form class="form-signin" action="/validateLogin" method="post">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit" style="background:darkgreen; color:black">Sign In</button>
      </form>
      <label>{{error}}</label>
    </div>
  </body>
</html>